[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
sounddevice = "*"
SoundFile = "*"
black = "*"
autolisten = {editable = true, path = "."}
concurrencytest = "*"
python-subunit = "*"

[dev-packages]

[requires]
python_version = "3.8"
